body {
	/*width: 385px;*/
	color: white;
}
.pane {
	background-color: #3b3c3e;
}
.pane-mid {
	height: 10%;
}
.pane-top-bot {
	height: 6%;
}
.sc-p {
	height: 39%;
}
.sc-controls {
	height: 39%;
}
.m-controls {
	background-color: black;
}
.icons {
	margin: 3px;
	height: 30px;
	width: 30px;
}
.f-right {
	float: right;
}
.f-left{
	float: left;
}
.left {
	margin-left: 15px;
}
.right {
	margin-right: 15px;
}
.balance {
	height: 29px;
	margin: 3px 3px 3px 15px;
}