/*===================================panes-prop===================================*/
.pane-top-bot {
	height: 5%;
	background-color: #3b3c3e; 
}
.pane-mid {
	height: 7%;
	background-color: #3b3c3e;
}
.reels {
	height: 39%;
	background-color: black;
}
.reels-img {
	height: 100%;
	width: 100%;
}
.controls {
	height: 44%;
	background-color: black;
}
.controls-img {
	height: 100%;
	width: 100%;
}
/*===================================icons-prop===================================*/
.icons {
	margin: 10px 10px 10px 5px;
	height: 60px;
	width: 60px;
}
.space {
	margin-right: 20px;
}
.f-right {
	float: right;
}
.f-left{
	float: left;
}
.left {
	margin-left: 40px;
}
.right {
	margin-right: 40px;
}
.balance {
	margin: 10px 15px 10px 40px;
	height: 70px;
	width: 400px;
}
.info {
	margin: -80px 40px 20px 0px;
}
/*===================================icons-bg===================================*/
.balance-bg {
	background-image: url("./images/balance-bg.png");
	background-size: 400px 70px;
}
.icon-info {
	background-image: url("./images/info_button_01.png");
	background-size: 60px 60px;
}
.icon-menu {
	background-image: url("./images/menu.png");
	background-size: 60px 60px;
}
.icon-expand {
	background-image: url("./images/expand_arrow_01.png");
	background-size: 60px 60px;	
}
.icon-clock {
	background-image: url("./images/clock_button_01.png");
	background-size: 60px 60px;
}
.icon-sound {
	background-image: url("./images/sound_button_01.png");
	background-size: 60px 60px;
}
.icon-settings {
	background-image: url("./images/settings.png");
	background-size: 60px 60px;
}
.icon-close {
	background-image: url("./images/close.png");
	background-size: 60px 60px;
}
/*===================================text prop===================================*/
.bal-text {
	color: white;
	font-size: 35px;
	font-weight: 300;
	padding: 10px 0px 0px 90px;
	letter-spacing: 1;
}
.game-play-id {
	color: white;
	font-size: 28px;
	color: white;
	font-weight: 300;
	letter-spacing: 1;
	margin: 25px 0px 0px 20px;
}
.total-win-lbl{
	color: white;
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 1;
	margin-top: -15px;
}
.total-win {
	color: #f6f2d4;
	font-size: 45px;
	font-weight: 400;
	margin-top: 10px;
}


