/*===================================panes-prop===================================*/
.pane-top-bot {
	height: 6%;
	background-color: #3b3c3e; 
}
.pane-mid {
	height: 10%;
	background-color: #3b3c3e;
}
.reels {
	height: 39%;
	background-color: black;
}
.reels-img {
	height: 100%;
	width: 100%;
}
.controls {
	height: 39%;
	background-color: black;
}
.controls-img {
	height: 100%;
	width: 100%;
}
/*===================================icons-prop===================================*/
.icons {
	margin: 14px 5px 12px 5px;
	height: 70px;
	width: 70px;
	/*vertical-align: center;*/
}
.f-right {
	float: right;
}
.f-left{
	float: left;
}
.left {
	margin-left: 40px;
}
.right {
	margin-right: 40px;
}
.balance {
	height: 30px;
	width: 100px;
}
/*===================================icons-bg===================================*/
.icon-menu {
	background-image: url("./images/menu.png");
	background-size: 70px 70px;
}
.icon-expand {
	background-image: url("./images/expand_arrow_01.png");
	background-size: 70px 70px;	
}
.icon-clock {
	background-image: url("./images/clock_button_01.png");
	background-size: 70px 70px;
}
.icon-sound {
	background-image: url("./images/sound_button_01.png");
	background-size: 70px 70px;
}
/*===================================text prop===================================*/
.text {
	color: white;
	font-size: 30px;
	color: white;
	font-weight: 200;
	letter-spacing: 1;
	margin: 30px 0px 0px 30px;
}