body{
	margin: 0px;
}
.header {
	height: 12%;
	width: 100%;
	background-color: #f0f0f0;
}
.footer {
	height: 8%;
	width: 100%;git 
	background-color: #3b3c3e;
}
.screen {
	height: 80%;
	width: 100%;
	background-color: black;
}
.sc {
	height: 100%;
}
.icons {
	margin: 7px;
	height: 30px;
	width: 30px;
}
.balance {
	height: 30px;
	margin-left: 25%;
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}
.t-white {
	color: white;
	font-size: 14px;
	font-weight: 500;
	margin-top: 3px;
}
.left {
	margin-left: 25px;
}
.right {
	margin-right: 25px;
}